proxy_cache_path ${CACHE_PATH} keys_zone=google_cloud_storage:10m inactive=${CACHE_VALIDITY} max_size=${CACHE_MAX_SIZE} use_temp_path=off;

map $NOT_FOUND_MEANS_INDEX $serve_index_on_not_found {
    default 0;
    "true"  1;
}

map $uri $gcs_bucket {
    default "";
    ~^/(?<bucket_from_uri>[^/]+)(?:/|$) $bucket_from_uri;
}

server {
        listen ${LISTEN_PORT};
        server_tokens off;

        if ( $request_method !~ "GET|HEAD" ) {
            return 405;
        }

        location = / {
            return 400;
        }

        location = /healthz/ {
            access_log off;
            return 200;
        }

        location / {
            if ($gcs_bucket = "") {
                return 400;
            }

            proxy_set_header        Host storage.googleapis.com;
            proxy_set_header        Cookie "";
            proxy_set_header        Authorization "";
            proxy_set_header        Connection "";
            proxy_hide_header       x-goog-hash;
            proxy_hide_header       x-goog-generation;
            proxy_hide_header       x-goog-metageneration;
            proxy_hide_header       x-goog-stored-content-encoding;
            proxy_hide_header       x-goog-stored-content-length;
            proxy_hide_header       x-goog-storage-class;
            proxy_hide_header       x-guploader-uploadid;
            proxy_hide_header       x-xss-protection;
            proxy_hide_header       accept-ranges;
            proxy_hide_header       alternate-protocol;
            proxy_hide_header       Set-Cookie;
            proxy_hide_header       Expires;
            proxy_hide_header       Cache-Control;
            proxy_ignore_headers    Set-Cookie;
            proxy_http_version      1.1;
            proxy_ssl_server_name   on;
            proxy_ssl_name          storage.googleapis.com;
            proxy_intercept_errors  on;
            proxy_method            GET;
            proxy_pass_request_body off;

            proxy_ignore_headers    Expires Cache-Control;
            proxy_cache             google_cloud_storage;
            proxy_cache_key         "$host/$proxy_host$uri";
            proxy_cache_valid       200 ${CACHE_VALIDITY};
            proxy_cache_valid       404 1m;
            proxy_cache_revalidate  on;
            add_header              X-Cache $upstream_cache_status;

            error_page              404 = @not_found;
            proxy_pass              https://storage.googleapis.com;
        }

        location @not_found {
            if ($serve_index_on_not_found = 0) {
                return 404;
            }

            proxy_set_header        Host storage.googleapis.com;
            proxy_set_header        Cookie "";
            proxy_set_header        Authorization "";
            proxy_set_header        Connection "";
            proxy_http_version      1.1;
            proxy_ssl_server_name   on;
            proxy_ssl_name          storage.googleapis.com;
            proxy_method            GET;
            proxy_pass_request_body off;
            proxy_cache             google_cloud_storage;
            proxy_cache_key         "$host/$proxy_host/$gcs_bucket/index.html";
            proxy_cache_valid       200 ${CACHE_VALIDITY};
            add_header              X-Cache $upstream_cache_status;
            rewrite                 ^ /$gcs_bucket/index.html break;
            proxy_pass              https://storage.googleapis.com;
        }
    }
